# dependencies
node_modules/

# env files
.env
.env.local

# build output
dist/
dist-ssr/
server/src/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.local
